body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(24,52,96,1) 100%);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: whitesmoke;
}

html, body { height: 100%; }
